.page {
  font-family: 'Nunito', sans-serif;
  margin: 0px;
  background-color: #F5F5F5;
  color: #777777;
}

.title {
  background-color: #E34C26;
  color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 45px;
  font-size: 25px;
}

.avatar {
  width: 65px;
}

.contact {
  margin: 15px;
  background-color: #777777;
  padding: 15px;
  width : 300px;
    color:#FFF;
}

.action {
 margin: 30px;
}

.trash {
  color: #777777;
}
